<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar-light">
        <ul class="pages">
            <li class="left-m"><a href="/home">NikunjSaini</a></li>
            <li class="left"><a href="/about">About</a></li>
            <li class="left"><a href="/project">Projects</a></li>
            <li class="left"><a href="/contact">Contact</a></li>
            <li class="right"><a href="https://www.instagram.com/niksain_0.o/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="right"><a href="https://www.linkedin.com/in/nikunj-saini-837b8421a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="right"><a href="https://medium.com/@nikunjsaini37" target="_blank"><i class="fa fa-medium"></i></a></li>
            <li class="right"><a href="https://github.com/NoExperienceCoder" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
    <div class="about-me">
        <div class="myself">
            <h2 class="sub-b">A Little More About Me</h2>
            <p class="bolded">
                Hello! I'm Nikunj Saini, a passionate and curious person who enjoys discovering and learning 
                new things. At Cluster Innovation Center, University of Delhi, I am currently a student seeking 
                a Bachelor’s degree in Information Technology and Mathematical Innovation.
            </p>
            <p class="subded">
                I have always had an interest in mathematics. This was the subject that always made me learn more about it. 
                Along with mathematics, I also became interested in computer science. I started my CS journey by learning 
                C++ in my matriculation. Later I expanded my knowledge of programming languages by learning JavaScript, 
                Java and Python. I integrated my knowledge of mathematics and coding to make some interesting projects. 
                During my exploration period, I came across ethical hacking. This field helped me know about the threats that
                we are exposed to online and how we can protect ourselves from such attacks. As I dived deeper into coding, I 
                learned about machine learning and artificial intelligence. While exploring the field of AI/ML, I learned about 
                Data Science, feature engineering and some of the most commonly used architectures of ML. I even worked on 
                Generative Models and Natural Language Processing. You can have a look at them in the projects section. 
            </p>
            <p class="subded">
                Other than coding, I am also fond of writing blogs. Whenever I find something interesting and worth sharing, 
                I usually blog about it on Medium. You can always go through them and provide feedback on them. 
            </p>
            <p class="subded">
                My other hobbies include cooking, reading articles about socio-political events and following major events 
                happening around me. 
            </p>            
        </div>
        <div class="secondpic"></div>
    </div>
    <div class="footer-dark">
        <div class="addr">
            <h2 class="light">Location</h2>
            <p class="wt">Chhattarpur Extension, New Delhi</p>
            <p class="wt">Delhi, India</p=>
        </div>
        <div class="meet">
            <h2 class="light">Meeting Time</h2>
            <p class="wt">Monday-Friday</p>
            <p class="wt">9.00am-5.00pm</p>
        </div>
        <div class="cntc-det">
            <h2 class="light">Contact Me</h2>
            <p class="wt">nikunjsaini37@gmail.com</p>
            <p class="wt">(+91) 7428723316</p>
        </div>
    </div>
</body>
</html>