<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet">
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul class="pages">
            <li class="left-m"><a href="/home">NikunjSaini</a></li>
            <li class="left"><a href="/about">About</a></li>
            <li class="left"><a href="/project">Projects</a></li>
            <li class="left"><a href="/contact">Contact</a></li>
            <li class="right"><a href="https://www.instagram.com/niksain_0.o/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="right"><a href="https://www.linkedin.com/in/nikunj-saini-837b8421a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="right"><a href="https://medium.com/@nikunjsaini37" target="_blank"><i class="fa fa-medium"></i></a></li>
            <li class="right"><a href="https://github.com/NoExperienceCoder" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
    <div class="intro">
        <div class="heading">
            <h1>Hi there, I am Nikunj Saini</h1>
            <p class="white-text">Hello! I'm Nikunj Saini, a passionate and curious person who enjoys discovering and learning new things. 
                At Cluster Innovation Center, University of Delhi, I am presently a student seeking a Bachelor’s degree 
                in Information Technology and Mathematical Innovation.</p>
            <form action="/about"><button class="knowme"><b>KNOW ME MORE</b></button></form>
        </div>
        <div class="profpic"></div>
    </div>
    <div class="footer">
        <div class="addr">
            <h2>Location</h2>
            <p class="blk">Chhattarpur Extension, New Delhi</p>
            <p class="blk">Delhi, India</p>
        </div>
        <div class="meet">
            <h2>Meeting Time</h2>
            <p class="blk">Monday-Friday</p>
            <p class="blk">9.00am-5.00pm</p>
        </div>
        <div class="cntc-det">
            <h2>Contact Me</h2>
            <p class="blk">nikunjsaini37@gmail.com</p>
            <p class="blk">(+91) 7428723316</p>
        </div>
    </div>
</body>
</html>